body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #a5a5a5;
    background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgb(21, 21, 21) 100%);
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.calculator-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

#history-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator {
    background-color: #000;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 320px;
    border: 3px solid #dee0ea;
    position: relative;
    left: 90px;
    bottom: 10px;
}

#display {
    width: 300px;
    height: 70px;
    font-size: 2.5em;
    text-align: right;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #000;
    color: white;
    resize: none;
    overflow-y: scroll;
}

#display::-webkit-scrollbar {
    width: 6px;
}

#display::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

#display::-webkit-scrollbar-track {
    background: #000;
}

.history {
    background-color: #ffffff;
    width: 300px;
    height: 525px;
    border-radius: 15px;
    overflow-y: auto;
    overflow-x: hidden; 
    padding: 10px;
    position: relative;
    bottom: -25px;
    right: 110px;
    word-wrap: break-word;
}

.history::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}

.history::-webkit-scrollbar-thumb {
    background-color: #a5a5a5;
    border-radius: 10px;
}

.history::-webkit-scrollbar-track {
    background: #dee0ea;
}

.history-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    word-break: break-all; 
}

.history-item p {
    margin: 0;
    color: black;
    font-size: 1.2em;
    padding: 5px 10px;
}

.delete-icon {
    cursor: pointer;
    color: red;
    margin-left: 10px;
}

.separator {
    height: 1px;
    background-color: black;
    width: 100%;
    margin: 5px 0;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 70px;
    font-size: 1.5em;
    border: none;
    border-radius: 35px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
}

button.operator {
    background-color: #ff9500;
    color: white;
}

button.double {
    grid-column: span 2;
    width: 150px;
    text-align: left;
    padding-left: 30px;
}

button:hover {
    background-color: #666;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

button.operator:hover {
    background-color: #cc7a00;
}

button.top-row {
    background-color: #a5a5a5;
    color: black;
}

.delete-all {
    background-color: #ff4c4c;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0px 5px;
    font-size: 1em;
    cursor: pointer;
    position: relative;
    top: -270px;
    left: 157px;
}

.delete-all:hover {
    background-color: #ff1c1c;
}